<div class="modal">
  <ion-header-bar class="bar-dark">
    <div class="buttons">
      <button class="button button-clear" ng-click="closeCompose()"><i class="icon ion-ios7-arrow-back"></i> Compose Message</button>
    </div>
    <h1 class="title"></h1>
  </ion-header-bar>
  <ion-header-bar class="bar bar-subheader item-input-inset">
    <label class="item-input-wrapper">
      <span class="input-label">To</span>
      <input id="searchKey" type="search" placeholder="" ng-model="searchKey" ng-change="search()" autocorrect="off" >
    </label>
  </ion-header-bar>

  <ion-content class="has-header has-subheader">
    <ion-list>
      <ion-item ng-repeat="contact in contacts" type="item-text-wrap">
        <div class="details item-icon-right">
          <img class="rounded" src="img/photo.png" width="50" height="50" />
          <h3>{{contact.contact_name}}</h3>
          <p>{{contact.contact_areacode}}{{contact.contact_number}}</p>
          <a class="button button-icon icon ion-chatbox" ng-click="openMessageDetail(contact.id)"></a>
        </div>
      </ion-item>
    </ion-list>

  </ion-content>

  <ion-footer-bar class="bar bar-footer bar-dark">
    <button class="button button-clear" ng-click="closeCompose()">
      <i class="icon ion-ios7-close-empty"></i>
      Cancel
    </button>
    <div class="title"></div>
    <button class="button button-clear">
      <i class="icon ion-ios7-checkmark-empty"></i>
      Add(0)
    </button>
  </ion-footer-bar>
</div>
