<div class="modal">
    <ion-header-bar class="bar-dark">
        <div class="buttons">
            <button class="button button-clear" ng-click="closeMessageDetail()"><i class="icon ion-ios7-arrow-back"></i> {{profiledetail.contact_name}}</button>
        </div>
        <h1 class="title"></h1>
        <div class="buttons">
            <button class="button button-icon icon ion-person" ng-click="openProfile(contact_id)"></button>
        </div>
    </ion-header-bar>



    <ion-content class="has-header has-footer padding" start-y="120">
        <ion-refresher on-refresh="doRefreshMessage(contact_id)" pulling-text="Pull to refresh..." refreshing-text="Refreshing!" refreshing-icon="ion-loading-c">
        </ion-refresher>
        <ol class="messages">
            <!--     ng-bind-html="message.message"-->
            <li ng-repeat="message in messagesdetails" ng-bind-html="message.message" ng-class="{messagesuser: message.user_id == user_id }">
                <p>{{message.message}}</p>
            </li>
        </ol>
    </ion-content>


    <ion-footer-bar keyboard-attach id="bar-footer-message-box">
        <form name="messageForm" class="messageForm">
            <label class="item item-input">
                <textarea id="commentBox" placeholder="What do you want to say?" ng-model="chat.message"></textarea>
                <!--        <input type="text" id="commentBox" placeholder="Text message" ng-model="chat.message">-->
            </label>
        </form>
        <div class="save-button">
            <button class="button button-icon ion-android-send" ng-click="submitChat(contact_id)" style=" margin-left: -13px; "></button>
        </div>
    </ion-footer-bar>

</div>
