.logo {
    display: block;
    position: relative;
    width: 40%;
    margin: 0 auto;
}
.logoText {
    margin-top: 20px;
    text-align: center;
    font-size: 28px;
    font-family: fantasy;
}
.item-note {
    font-size: 10px;
    margin-top: -22px;
    margin-right: -35px;
}
.bar-footer {
    overflow: visible !important;
}
.bar-footer textarea {
    resize: none;
    height: 25px;
}
.footer-btn-wrap {
    position: relative;
    height: 100%;
    width: 50px;
    top: 7px;
}
.footer-btn {
    position: absolute !important;
    bottom: 0;
}
.messages {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.messages li {
    display: block;
    float: left;
    clear: both;
    max-width: 65%;
    margin: 0 0 1rem 0;
    padding: 0;
}
.messages li.messagesuser {
    float: right !important;
}
.messages li:nth-child(even) {
    float: right;
}
.messages p {
    border-radius: .75rem;
    /*background: #e67e22;*/

    background: #e6e5eb;
    /*color: #fff;*/

    color: #383641;
    padding: .6875rem;
    margin: 0;
    font-size: .875rem;
}
.messages li.messagesuser p {
    background: #e6e5eb !important;
    color: #383641 !important;
}
.messages li:nth-child(even) p {
    /*  background: #e6e5eb !important;
   color: #383641 !important; */

    background: #158ffe;
    color: #fff;
}

/* End Chikka style Messaging

.dark-menu {
    background: #464646;
}
.stable-menu {
    background: #bdc3c7;
}
.dark {
    background-color: #3f4041 !important;
    color: #ffffff;
}
.dark .scroll-content {
    background-color: #3f4041 !important;
}
.dark .item {
    background-color: #3f4041;
    border: none;
    border-top: 1px solid #464646;
    border-bottom: 2px solid #333333;
    padding: 20px;

    max-height: none;
}
.dark .item:first-child {
    border-top: 1px solid black;
}
.dark .item:last-child {
    border-bottom: 1px solid #333333;
}
.dark .item.current {
    background-color: #3f4041 !important;
    border-top: 1px solid #464646 !important;
    border-bottom: 2px solid #333333 !important;
    color: #F0F1F1;
}
.dark .item.current p, .dark .item.current h3 {
    opacity: .7;
}
.dark .item-complex .dark .item-content, .dark .item {
    background-color: #3f4041 !important;
    border-top: 1px solid #464646 !important;
    border-bottom: 2px solid #333333 !important;
    color: #F0F1F1;
}
.dark h2, .dark h3, .dark p {
    color: #F0F1F1;
}
.modal {
    top: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    right: 0 !important;
    width: 100% !important;
}
.details img {
    float: left;
    margin-right: 12px;
}
.coverphoto {
    background: url('../img/back.jpg') no-repeat;
    background-size: cover;
}
.large-input {
    height: 60px;
}
.tabs-vdark > .tabs, .tabs.tabs-vdark {
    border-color: #111 !important;
    background-color: #262626 !important;
    background-image: linear-gradient(0deg, #111, #111 50%, transparent 50%) !important;
    color: #fff !important;
}
.bar-footer {
    border-color: #b2b2b2;
    background-color: #f8f8f8;
    background-image: linear-gradient(0deg, #b2b2b2, #b2b2b2 50%, transparent 50%);
    color: #444;
}
.messageForm {
    width: 90%;
    float: left;
}
.messageForm label {
    margin-right: 5px;
}
#commentBox {
    height: 25px;
    padding: 5px;
    overflow: hidden;
}
.save-button {
    float: right;
    margin-top: 0px;
}
.save-button button {
    font-size: 50px;
}
#bar-footer-message-box {
    padding: 5px;
    height: auto;
}
.slider {
    height: 100%;
}
.slider-slide {
    padding-top: 80px;
    color: #000;
    background-color: #fff;
    text-align: center;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
}
#logo {
    margin: 30px 0px;
}
#list {
    width: 170px;
    margin: 30px auto;
    font-size: 20px;
}
#list ol {
    margin-top: 30px;
}
#list ol li {
    text-align: left;
    list-style: decimal;
    margin: 10px 0px;
}
.header-badge {
    top: -7px !important;
    left: -11px !important;
} */
